.body {
    background-color: rgb(221, 213, 230);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor {
    color: darkseagreen;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

#numero {
    color:rosybrown;
    font-size: 60px;
}

.btn {
    width: 100px;
    height: 40px;
    background-color: white;
    box-shadow: 2px 3px 2px gray;
}